@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/InterVariable.woff2) format('woff2');
}

@font-face {
  font-family: "Geist Mono";
  src: url(/assets/fonts/GeistMonoVariableVF.woff2) format('woff2');
}

::selection {
  background: #8f869d;
  color: #000
}

#pmdicon.pmdabouthover:hover {
  content: url(/assets/images/pmdicon/alolanmeowthhappy.png);
}

#pmdicon.pmdabouthover:active {
  content: url(/assets/images/pmdicon/alolanmeowthangry.png);
}

#boid {
  image-rendering: pixelated;
  height: 10px;
  width: 51px;
  margin: auto auto 8px;
  filter: drop-shadow(0 0 1px #000000) !important;
  border-bottom: #8f869d 1px solid;
}

mono {
  font-family: Geist Mono, monospace;
}

h1.notice {
  font-weight: 400;
  font-size: 26px;
  letter-spacing: -1px;
  margin: 14px 0 14px 0;
}

/* too much opusposting */

h1.addendum {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
  margin: 14px 0 14px 0;
}

.notice mono,
.addendum mono {
  font-weight: 700;
  letter-spacing: -3px;
}

html {
  background-color: #000;
}

h1 {
  margin: 12px 0 12px 0;
}

h2 {
  margin: 10px 0 10px 0;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #8f869d;
  font-family: Inter, sans-serif;
  background: url(/assets/images/bg.png);
  background-position: center center !important;
  background-attachment: fixed !important;
  text-shadow: 0 1px 3px rgb(0 0 0 / .5);
}

a {
  color: #8f869d;
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 16px 0 0;
  gap: 4px;
  flex-wrap: wrap
}

main {
  display: flex;
  width: 580px;
  background: url(/assets/images/noise256.png), linear-gradient(#111, #000);
  min-height: calc(100vh - 48px);
  position: relative;
  z-index: 10;
  box-shadow: #000 0 0 4px;
  flex-direction: column;
  overflow: hidden;
}

main img {
  filter: drop-shadow(#000 0 0 2px);
  position: relative;
}

main p {
  line-height: 1.4;
}

main h1,
main p {
  margin: 8px 0 8px 0;
}

othershit {
  background: #000;
  width: 247px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  background: url(/assets/images/otbg.png);
  border: #000 1px solid;
  border-width: 0 1px 1px 0;
  box-shadow: inset #0009 0 0 6px, #000 0 0 4px;
}

#credit {
  font-size: 12px;
  background: #000;
  padding: 4px;
}

[id*="credit"] a {
  font-weight: 700;
  text-decoration: none;
}

hr {
  border: none;
  background-color: #8f869d;
  height: 1px;
}

main hr {
  margin: 16px 0 16px 0;
}

mrrp {
  background: #000;
  padding: 6px 8px 6px 8px;
  margin-bottom: 8px;
}

mrrp h6 {
  font-family: Geist Mono;
  font-size: 14px;
  margin: 2px 0 2px 0;
}

mrrp p {
  font-size: 12px;
  margin: 8px 0 8px 0;
}

.anotherFuckingDiv {
  padding: 16px;
  padding-top: 0;
}

.motherfuckingMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navcontainer {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: url(/assets/images/noise256.png), linear-gradient(#111, #090909);
  display: flex;
  justify-content: center;
  box-shadow: #000 0 0 4px;
}

llianav {
  display: flex;
  align-items: center;
  width: clamp(816px, 75%, 75%);
  height: 48px;
  padding-inline: 14px;
}

links {
  margin-left: auto;
  font-weight: 700;
}

h1#wordmark {
  font-size: 225%;
  letter-spacing: -2px;
  user-select: none;
}

i#blurb {
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
}

#pmdicon {
  margin: 0 8px 2px 0;
  float: left;
  image-rendering: pixelated;
  border: 1px #8f869d solid;
}

a {
  transition: .125s cubic-bezier(.19, 1, .22, 1);
  text-decoration: none;
}

a:hover {
  color: #61596e;
}

#wordmark>a {
  transition: .25s cubic-bezier(.25, .5, 0, 1.8);
}

links a {
  text-decoration: none;
  transition: .25s cubic-bezier(.18, .89, 0, 2.2);
}


#wordmark>a:hover {
  letter-spacing: -.75px;
}

links a:hover {
  letter-spacing: .5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8f869d #000;
}

#mrrplinks img {
  border: 1px #8f869d solid;
}

#linkicons {
  gap: 4px;
  display: flex
}

.hypercenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

p a,
.codeblock span a {
  font-weight: 700;
}

.codeblock {
  font-family: Geist Mono, monospace;
  background: #0004;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none
}

.codeblock span {
  white-space: nowrap
}

.goback,
.seemore {
  margin: 14px 0 0;
  font-size: .75em
}

.goback+h1#notice {
  margin: 6px 0 8px
}

#pagecredit {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin: 12px 0 0;
}

#legalimage {
  display: flex;
  justify-content: center;
}

/* because mobile. at the bottom for shame reasons. */

@media (max-width: 640px) {
  .motherfuckingMainContainer {
    flex-direction: column-reverse;
  }

  main,
  othershit {
    width: unset
  }

  #legalimage {
    background: #000;
  }
}