@font-face {
  src: url(bitdust1.woff2);
  font-family: bitdust
}

body {
  font-family: bitdust;
  background: #888;
  color: #fff;
  margin: 0;
  font-weight: normal !important;
  font-size: 8px;
  text-transform: uppercase
}

.focal {
  margin: 0 auto;
  width: 604px
}

.indexlink {
  /* border: red 1px solid; */
  position: absolute
}

main {
  display: flex;
  flex-direction: column;
  width: 452px;
  margin: 0 auto
}

span.big {
  font-size: 16px;
  margin: 2px 0
}

main p {
  line-height: 8px;
}

p {
  margin: 0
}

a,
* a {
  color: #fff;
  text-decoration: none
}