body {
  font-family: Verdana, sans-serif;
  background: var(--back);
  color: var(--tc1);
  font-size: 12px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin
}

:root {
  --back: #0D0D0D;
  --tc1: #C5D9CE;
  --lc1: #798C7A;
  --link: #A4BFB0;
  --g1: #9AB39E;
  --g2: #C5D9CE;
  --g3: #9AB39E;
  --g4: #A4BFB0
}

main {
  margin: 8px;
  max-width: 520px
}

.sep {
  color: var(--lc1);
  font-weight: 100;
  opacity: .5
}

a {
  color: var(--link)
}

.homeLookAtThis {
  display: flex;
  background: url(fst.png) repeat, radial-gradient(#fff0, #fff6), linear-gradient(var(--g1) 0%, var(--g2) 49.999%, var(--g3) 50%, var(--g4) 100%);
  overflow: hidden;
  box-shadow: inset #fff7 0 1px 0;
  justify-content: center;
  align-items: center;
  flex: 1 0
}

h1,
p,
ul {
  margin: 4px 0
}

ul {
  padding-left: 24px
}

li {
  list-style-type: "- "
}

hr {
  border: none;
  background-color: var(--lc1);
  opacity: .5;
  height: 1px
}