---
layout: layouts/base.njk
title: 404
customBackground: "noise256.png),radial-gradient(#222,#111"
permalink: not_found.html
eleventyExcludeFromCollections: true
---

<div class="hypercenter">
  <h1 style="letter-spacing:-2px">
    <mono>you're not supposed to be here.</mono>
  </h1>
  <p><a href="/">click here to go back, dummy...</a></p>
</div>

