---
layout: layouts/base.njk
title: about
customBackground: bg2.png
---

<main>
  <img alt="" src="/assets/images/aboutheader.png">
  <div class="anotherFuckingDiv">
    <h1>
      who are you?
    </h1>
    <img alt="alolan meowth pmd icon (normal, on hover happy, on click angry)" id="pmdicon" class="pmdabouthover"
      src="/assets/images/pmdicon/alolanmeowthnormal.png">
    <p>
      my (user)name is <b>llia</b>. i am 21 years old, and i am <i>horribly</i> unemployed.
      nothing goes on in my life really, so i take interest in various hobbies and interests,
      such as music, art, programming, games (rarely), unix (if you want to count that), and many more.
    </p>
    <h1>
      what do you use?
    </h1>
    <p>
      for my operating systems, i use <a href="https://gentoo.org/">Gentoo Linux</a> and a heavily modified install
      of Windows 10,
      and my window manager of choice is <a href="https://i3wm.org/">i3</a>. i use <a
      href="https://helix-editor.com">Helix</a> and Sublime Text
      as my text and code editors, and for my image editing tools i use GIMP, Adobe Photoshop, and Adobe After
      Effects. i use FL Studio 2024 and <a href="https://www.renoise.com/">Renoise</a> for my music.
    </p>
    <h1>
      what type of faggot are you?
    </h1>
    <p>
      i'm genderfluid. any pronouns are fine, although they/them is preferred.
    </p>
    <hr>
    <small><i>a little bit more...</i></small>
    <h2>
      why did you choose the username "llia"?
    </h2>
    <p>
      i couldn't tell you why.
    </p>
    <h2>
      what advice do you have for people?
    </h2>
    <p>
      stop clacking on your keyboard every day. it will be the end of you eventually.
    </p>
    <h2>
      why are you the way that you are?
    </h2>
    <p>
      i've got more mental illnesses than i can count on my paws currently. kill me about it.
    </p>
    <h2>
      what's a guilty pleasure of yours?
    </h2>
    <p>
      arizona iced tea
    </p>
    <h2>
      what thing do you love the most, and hate the most?
    </h2>
    <p>
      <mono>LOVE:</mono> Jane Remover - Frailty. (maybe <a href="https://soundcloud.com/02_26_2001">venturing</a>?)
      <br>
      <mono>HATE:</mono> Team Fortress 2 (cuz PTSD. do not make me rant about it.)
    </p>
    <h2>
      what would i have to do to stop you from acting like a bitch?
    </h2>
    <p>
      give me pets and whisper sweet nothings to me or something. also maybe enrichment. idfk, i'm shy.
    </p>
    <h2>
      what pokemon would you be if you were one?
    </h2>
    <p>
      a goodra, alolan meowth, zangoose, or a glaceon. (sorted by likeliness, ascending)
    </p>
    <h2>
      religion?
    </h2>
    <p>
      modern satanism a.k.a. advanced atheism for dummies (fuck TST & TCoS)
    </p>
    <div id="buttons">
      <img src="/assets/images/buttons/lliabutton.png">
      <img src="/assets/images/buttons/hail satan.png">
      <img src="/assets/images/buttons/fluidaroace.png">
      <img src="/assets/images/buttons/nekowebsupremacy.gif">
      <img src="/assets/images/buttons/gentoo.png">
      <img src="/assets/images/buttons/wtf.png">
    </div>
    <div id="pagecredit">
      <small>alolan meowth pmd portraits obtained from
        <a href="https://sprites.pmdcollab.org/#/0052?form=1">here</a>,
        made by baronessfaron; others by <a href="https://x.com/PhilliYoung196">PhillipsYoung</a>.<br>
        obscure stuff is linked for the sole reason of "you most likely don't know what this is, so go find
        out".</small>
    </div>
  </div>
</main>
