---
layout: layouts/base.njk
title: system
customBackground: "noise256.png),radial-gradient(#222,#111"
---

<main>
  <div class="anotherFuckingDiv">
    <h1>system</h1>
    <p><small>FYI: <b>llia is a singularity</b>. the system is named 2311.
        this directory only lists system members who have made a site and want to make it public.
        these sites are under the same license as this site, and sites listed here will refer to this site as
        "upstream". these sites can and will be less updated
        than this one.
      </small></p>
      <div class="codeblock">
        <span><a href="https://www.astraeasweb.net/plural/code/frames.html">MuC</a>
        N-^ [m;m/f/a/*] S.Mfh*+/{Mmf*~}|{Mfh*~}"zangoose"*/Bc?/A?*+/"glaceon"{*}+/"alolan meowth"*
        A(b- r-/ ) On/c W# Cc I---# OF(r--- o+) #- Fs"modern"+ (T) Xa Ju Do R--- C++ So-<br style="line-height:1.25">
        <small>note: curly braces denote optionality, with a vertical line between any amount of objects in curly braces
        acting as an OR operator. it does not imply that one is multiple things.</small></span>
      </div>
    <hr>
    <p>
      {% for member in systemMembers %}
        <a href="{{ member.url }}">
          {{ member.displayName }}{% if not loop.last %}.{% endif %}
        </a>
      {% endfor %}
    </p>
  </div>
</main>
