<div class="navcontainer">
  <llianav>
    <h1 id="wordmark"><a href="/">llia's site</a> <i id="blurb">...after all!</i></h1>
    <links>
      <a href="https://llia.atabook.org">guestbook</a>
      <a href="/system/">sys</a>
      <a href="/">home</a>
      <a href="/about/">about</a>
    </links>
  </llianav>
</div>

