<othershit>
  <mrrp>
    <h6>updates</h6>
    <hr>
    <p> 2025-03-08 ... swapped out git.gay for hg+sourcehut in the links section</p>
    <p> 2025-01-23 ... finally made and added a <a href="/assets/images/buttons/lliabutton.png">88x31 button for this site</a></p>
    <p> 2024-12-09 ... ADDED BIRD</p>
  </mrrp>
  <mrrp id="mrrplinks">
    <h6>links</h6>
    <div id="linkicons">
      <a href="https://corvidshit.tumblr.com"><img alt="Tumblr" title="Tumblr" src="/assets/images/icons/tumblr.png"></a>
      <a href="https://x.com/v0idsea"><img alt="Twitter" title="Twitter" src="/assets/images/icons/twitter.png"></a>
      <a href="https://chitter.xyz/@i"><img alt="ActivityPub/Mastodon (chitter.xyz)"
        title="ActivityPub/Mastodon (chitter.xyz)" src="/assets/images/icons/activitypub.png"></a>
      <a href="https://last.fm/user/flttr"><img alt="last.fm" title="last.fm" src="/assets/images/icons/lastfm.png"></a>
      <a href="https://bandcamp.com/faggots"><img alt="Bandcamp" title="Bandcamp" src="/assets/images/icons/bandcamp.png"></a>
      <a href="https://soundcloud.com/x5t"><img alt="SoundCloud" title="SoundCloud" src="/assets/images/icons/soundcloud.png"></a>
      {# <a href="https://git.gay/kit"><img alt="Git" title="Git" src="/assets/images/icons/git.png"></a> #}
      <a href="https://hg.sr.ht/~sly"><img alt="Mercurial" title="Mercurial" src="/assets/images/icons/hg.png"></a>
      <a href="https://bsky.app/profile/silicon.bsky.social"><img alt="bluesky (DON'T WASTE YOUR FUCKING TIME), 18+"
        title="bluesky (DON'T WASTE YOUR FUCKING TIME), 18+" src="/assets/images/icons/dogshit.png"></a>
    </div>
  </mrrp>
  <img
    alt="A black-and-white Mineut cat lying on its side, cuddling a plush toy shaped like a cartoon cat. Overlaid text in a speech bubble reads: 'LEGAL SHIT: ALL CONTENT ON THIS PAGE IS LICENSED CC0, UNLESS WHERE IT IS SPECIFIED OTHERWISE. THIS EXCLUDES THIS CAT PICTURE. I'M UNI :3 FOR ANY INQUIRIES: PLZ DON'T BOTHER.'"
    title="(intellectual property is an oxymoron. eat shit)" src="/assets/images/legal.png">
  <small id="credit">edited from <a href="https://x.com/unicouniuni3/">unicouniuni3</a></small>
</othershit>

